<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="field form-group">
    <%= f.label :restaurant %><br>
    <%= f.text_field :restaurant, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :location , "City" %><br>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  

  <div class="field form-group">
    <%= f.label :date, "Date" %>
    <div class='input-group date' data-provide='datepicker'>
      <%= f.text_field :date, class: 'form-control' %>
      <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
    </div>
  </div>

  
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
