<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
  <%= f.label :restaurant , "Select A restaurant" %><br>
  <%= f.collection_select(:restaurant_id, @restaurants, :id, :name, {include_blank: 'Please Select'},{:class=>'custom-class'} ) %>
</div>
  <div class="field form-group">
   <%= f.label :details, "Review" %> <br>
    <%= f.text_area :details, placeholder: "How was the restaurant?" %>
  </div>

<div class="field form-group">
   <%= f.label :comeback, "Would you return again?" %> <br>
 <%= f.select(:comeback, options_for_select([['Yes', 'Yes'], ['No', 'No']]),class: "dropdown-menu") %>
   </div>

  <div class="field form-group">
    <%= f.label :date, "Date" %>
    <div class='input-group date' data-provide='datepicker'>
      <%= f.text_field :date, class: 'form-control' %>
      <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
    </div>
  </div>

  
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
