<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 col-md-offset-3">
    <div class="row">
      <div class="col-md-10">
        <h3><strong><%= @review.title %> at <%= @review.restaurant.name %><br><%= @review.date %></strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">      
        <h4><u>
          Review
        </u></h4>
        <h5>
         <%= @review.details %><br>
         
        </h5>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <%= @review.user.name %>
          <% if current_user == @review.user %>
          |<%= link_to 'Edit', edit_review_path(@review) %> 
          | <%= link_to 'Delete', @review, method: :delete, data: { confirm: 'Are you sure?' } %>
           | <%= link_to 'Back', reviews_path %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>